body{
    font-family: var(--fuenteSubtitulos);  
}
/* carrusel */

.detail .ul{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.detail .ul .li{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.detail .ul .li a:hover{
    color: var(--rosaOscuro);
}
.detail a{
    color: var(--grisMedio)
}
.detail .imagenes{
    width: 90%;
    margin-left: 30px;
    margin: 0 auto;
}
.detail .imagenes .itemCarrusel{
    width: 100%;
    
}
.detail .imagenes .itemCarrusel img, .detail .imagenes .itemCarrusel .img-secundarias{
    width: 100%;
}
.detail .imagenes .img-secundarias img{
    width: 24%;
}
.detail main li a label.punto {
    border: 2px solid var(--grisMedio);
    border-radius: 100%;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    transition: 1.5s;
    display: flex;
    width: 3px;
}

.detail main li a label.punto:hover {
    background-color: var(--rosaOscuro);
}

.detail main ul.puntos {
    display: flex;
    position: absolute;
    top: 550px;
    width: 100%;
    justify-content: center;
}


/* detalle de producto */
.detail .h1-2{
    display: none;
}
.detail main section h1 {
    text-align: center;
    color: var(--grisOscuro);
    margin-top: 15px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: var(--grisMedio);
    color: white;
    border-top: solid 5px var(--rosaOscuro);
    border-bottom: solid 5px var(--rosaOscuro);
}
.detail main .detalle-producto{
    position: relative;
    padding-bottom: 30px;
}
.detail main .span-color{
    margin: 20px 0 0 20px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
.detail main .span-titulo{
    font-weight: 600;
    margin-right: 10px;
    color: var(--grisMedio);
}
.detail main section article.price p.precio {
    color: var(--grisMedio);
    font-size: 20px;
    padding: 10px;
    text-decoration: line-through;
}

.detail main section article.price span.precio-final {
    color: var(--grisOscuro);
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}
.detail main .imagenes .itemCarrusel{
    position: relative;
}
.detail main .imagenes .itemCarrusel small.descuento {
    color: rgb(255, 255, 255);
    background-color: #ff276d;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
}
.detail main section article.price small.descuento1{
    color: #ff276d;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
.detail main section article.conten-carrito {
    display: flex;
    padding: 10px;
}

.detail main section article.conten-carrito .sumar-carrito {
    display: flex;
}

.detail main section article.conten-carrito .sumar-carrito input {
    display: flex;
    justify-content: center;
    border: 1px solid var(--grisClaro);
    background-color: white;
    width: 23px;
}

.detail main section article.conten-carrito .sumar-carrito input:active {
    background-color: var(--rosaOscuro);
}

.detail main .sumar-carrito .medio {
    width: 20px;
    background-color: white;
    border: 1px solid var(--grisClaro);
    text-align: center;
}

.detail main .comprar-boton {
    background-color: var(--rosaOscuro);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px;
}
.detail main .comprar-boton:hover{
    background-color: var(--grisOscuro);
    color: var(--rosaOscuro);
}

.detail main .lista-deseos i, .share i {
    margin: 0 10px;
    color: white;
    font-size: 18px;
    background-color: var(--rosaOscuro);
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 20px;
}
.detail main .lista-deseos i:hover, .share i:hover{
    background-color: var(--grisOscuro);
    color: var(--rosaOscuro);
}
.detail main .fav-share{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: -50px;
   

}

.detail main section.descripcion {
    margin-bottom: 10px;
}

.detail main section.descripcion h3 {
    color:var(--grisMedio);
    padding: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.detail main section.descripcion p {
    color: var(--grisMedio);
    padding: 10px;
}


/* promociones */
.detail main section.promociones h3 {
    color:var(--grisMedio);
    padding: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.detail main section.promociones {
    padding: 10px;
    text-align: center;
    color: var(--grisMedio);
    border-top: 1px solid #d2d0d0a0;
}

.detail main .retiro i,
.cambios i,
.cuotas i {
    align-items: center;
    padding: 10px;
    border: 1px solid var(--rosaOscuro);
    color: var(--rosaOscuro);
    border-radius: 50%;
    font-size: 15px;
    margin-bottom: 10px;
}


/* productos relacionados */

.detail main h2 {
    padding: 10px;
    color: var(--grisOscuro);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detail main section.productos-relacionados img {
    width: 90%;
    /* width: 200px;
    height: 200px; */
}

.detail main section.productos-relacionados {
    text-align: center;
}

.detail main section.productos-relacionados article {
    text-align: center;
    display: inline-block;
    border: 1px solid #d2d0d0a0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--gris);
    width: 60%;
    height: 340px;
    margin-bottom: 25px;
    position: relative;
}

.detail main section.productos-relacionados article:hover {
    position: relative;
    transform: scale(1.2);
    transition: all 0.5s;
    z-index: 10;
}

.detail main section.productos-relacionados .caja-etiquetas {
    position: relative;
    display: flex;
    align-items: center;
}

.detail main section.productos-relacionados span.etiqueta {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: var(--rosaOscuro);
    padding: 3px 5px;
    border-radius: 3px;
    position: absolute;
    bottom: -3pxpx;
    left: 0px;
    margin-right: 3px;
}

.detail main section.productos-relacionados a.etiquetaC {
    font-size: 13px;
    color: white;
    background-color: var(--rosaOscuro);
    padding: 2px 4px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    margin: 1px;
}
.detail footer{
    padding: 0 0 100px 0;
}
.detail main section.productos-relacionados .comprar-boton {
    background-color: var(--rosaOscuro);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 23px;
}
.detail footer .container__footer{
    margin-top: 0;
}
/* tablet */
@media (min-width:461px) {
    .detail .ul .li{
        font-size: 15px;
        margin-left: 15px;
    }
    
    .detail .imagenes{
        width: 50%;
        margin: 0 auto;
    }
    .detail main ul.puntos{
        margin-top: 90px;
    }

    .detail main section.descripcion h3 {
        text-align: center;
    }
    .detail main section.promociones {
        display: none;
     }

     .detail main section.descripcion p {
        text-align: center;
    }
    .detail main section.productos-relacionados img{
        width: 47%;
    }
}

/* descktop */
@media (min-width:769px) {

    .detail .imagenes{
        width: 45%;
        margin: 0 5px 0 30px;
    }
    .detail .h1-1{
        display: none;
    }
    .detail .h1-2{
        display: block;
        background-color: var(--rosaClaro);
        color: white;
        text-shadow: 3px 3px 3px var(--grisMedio);
        font-size: 45px;
        height: auto;
        padding: 15px;
        line-height: 1;
    }
    .detail main ul.puntos {
        width: 45%;
        margin-top: 130px;
    }
    .detail main .imagenes .itemCarrusel small.descuento{
        font-size: 30px;
        padding: 20px;
        left: 0px;
        right:auto;
    }
    .detail main section article.price p.precio{
        font-size: 30px;
    }
    .detail main section.detalle-producto {
        text-align: center;
        width: 70%;
       /*  position: absolute;
        right: 60px;
        top: 25rem;
        width: 50%; */
    } 
    .detail main .container-detail{
        display: flex;
    }
    .detail main section.detalle-producto article.conten-carrito {
        justify-content: center;
    }

    .detail main section article.share {
        justify-content: center;
    } 

    .detail main section.promociones {
       display: none;
    }
    .detail main section.productos-relacionados {
        display: flex;
        text-align: center;
    }
    .detail main h2{
        margin-top: 50px;
    }

    .detail main section.productos-relacionados article {
        margin: 20px;
    }
    .detail main .fav-share{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    .detail main section.productos-relacionados img{
        width: 90%;
    }
}
@media (min-width:1194px) {
/*     .detail main .descripcion{
        bottom: 190px;
        width: 50%;
        position: relative;
        left: 45%;
    } */
    .detail main section.productos-relacionados article {
        height: 400px;
    }
}