.listar header{
    background-color: white;
    height: 150px;
}
.listar h1{
    line-height: 4;
    color: white;
    background-color: var(--grisMedio);
    width: 100%;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 10px var(--rosaOscuro);
    font-size: 18px;
    font-weight: 600;
}
.listar .ul{
    width: 100%;
    display: flex;
}
.listar .ul .li{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.listar .ul .li a:hover{
    color: var(--rosaOscuro);
}
.listar a{
    color: var(--grisMedio)
}
@media (min-width: 461px){
    .listar .ul .li{
        font-size: 15px;
        margin-left: 15px;
    }
    .listar header{
        height: 200px;
    }
}
@media (min-width: 769px){
    .listar header{
        height: 230px;
    }
}