.productos main{
    padding-top: 10px;
    background-color: var(--rosaClaro);
}
.productos .ul{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.productos .ul .li{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.productos .ul .li a:hover{
    color: var(--rosaOscuro);
}
.productos a{
    color: var(--grisMedio)
}
.productos section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.productos h1{
    margin: 40px 0;
    font-size: 10vh;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: var(--grisMedio);
    color: white;
    border-top: solid 5px var(--rosaOscuro);
    border-bottom: solid 5px var(--rosaOscuro);
}
.productos .botones-secciones ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.productos .botones-secciones ul li{
    background-color: white;
    border: solid 3px var(--rosaOscuro);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    font-size: 7px;
    transition: all 0.5s;
}
.productos .botones-secciones ul li:hover{
    position: relative;
    transform: scale(1.2);
    z-index: 10;
}
.productos section .link-esmaltes{
    line-height: 0;
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
    color: rgb(243, 81, 143);
    background-color: white;
    width: 98%;
    height: 20px;
    padding: 6vh;
    margin: 20px auto;}
/* }
/* .productos section .caja{
    width: 80%;
    height: 400px;
    border: solid 5px var(--rosaOscuro);
    background-color: white;
    margin-bottom: 50px;
}
.productos section .caja a{
    color: black;
}

.productos section .caja .foto-prod{
    width: 200px;
    height: 200px;
    margin: 15px auto;
}
.productos section .caja .foto-prod img{
    width: 100%;
}
.productos section .caja h4{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 20px;
    color: var(--grisOscuro);
}
.productos section .caja .preciOferta{
    color:var(--grisOscuro)
}
.lista-esmaltes .link-esmaltes{
    width: 100%;
    margin: 0 auto;
} */
@media (min-width: 461px){
    .productos .botones-secciones ul{
        width: 90%;
    }
    .productos .botones-secciones ul li{
        font-size: 18px;}}
    /* }
    .productos section .caja{
        width: 30%;
        height: 400px;
    }
    .productos section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media (min-width: 769px){
    .productos .botones-secciones ul{
        width: 90%;
    }
    .productos .botones-secciones ul li{
        font-size: 25px;
    }
} */ 